.user-greeting{
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin: 0px;
    font-family: Arial, sans-serif;
}
.user-guest{
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    margin: 0px;
    font-family: Arial, sans-serif;

}

.Category-title{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 24px;
    color: #444444;
    margin-bottom: 5px;
}
.item-list{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #333333;
    background-color: #f2f2f2;
    padding: 15px;
    margin: 0%;
    border-radius: 8px;
    list-style-type: decimal;
}